* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

body {
  background-color: #007bff;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;

}

.navigation{
  position: absolute;
  right: 0;
  margin-right: 10%;
}

.menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 80vh;
  min-width: 80vw;
  position: absolute;
  top:-100vh;
  left: 50%;
  border: 4px solid white;
  border-radius: 12px;
  background: linear-gradient(#007bff, #333);
  z-index: 999;
  transform: translateX(-50%);
  transition: top 0.5s ease; 
}


.menu.active {
  top: 15vh; /* Move the menu to its final position */
}

.nav-item{
 cursor: pointer;
}

.nav-btn{
  height: 75px;
  width: 40vw;
  font-size: larger;
}

.menu-icon{
  position: absolute;
  left: 0;
  margin-left: 10%;
  cursor: pointer;
}

#ted-title{
  text-shadow:
    -4px -4px 0 #4CAF50, /* Red inner shadow */
    0 0 10px rgba(0, 0, 0, 0.2); /* Subtle drop shadow */
    padding-top: 50px;;
}

#search-input{
  font-size: 26px;
  margin: 20px;
}

.auth-inputs {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
}

#required{
 align-self: flex-end;
 margin-right: 1%;
}

.form-input {

  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  text-align: center;
}


button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

nav {
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  background-color: #333;
  color: white;
}

#auth-form {
  height: 60vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #f0f8ff;
  border-radius: 15px;
  padding: 20px;
  position: absolute;
  top: 25vh;
 

}

#ted-form {
  min-height: 100vh;
  width: 85vw;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 12px;
  font-size:1.6rem;
  position: relative;
  top: 50px;
}

#add-btn{
  height: 3rem; /* Example height */
  width: 10rem; /* Example width */
  font-size: 1.2rem; /* Example font size */
}

#welcome-msg{
  font-size: 1.6rem;
}

#ted-list-container {
  display: flex;
  flex-direction: column;
  padding: 50px;
  background-color: #007bff;
  width: 100vw;
  /* height: 100vh; */
  align-items: center;
  gap: 50px;
  justify-content: space-around;
}

.ted-wrapper {
  display: flex;
  flex-direction: column;
  width: 350px;
  align-items: center;
  gap: 20px;
  border-radius: 12px;
  padding: 15px;
  padding: 20px;
  margin: 0 auto;
  font-size: 22px;
 
}

.ted-wrapper h2 {
  margin-bottom: 10px;
  /* Blue from button */
}

.ted-wrapper p {
  margin-bottom: 5px;
}

.single-div {
  height: 100px;
  justify-content: center;
}

.indica-class{
  background-color:  #4CAF50;
  color: white;
  border: 2px solid white;
}

.sativa-class {
  background-color: white;
  color: #007bff;
  border: 2px solid #4CAF50;
}

.hybrid-class {
  color: white;
  background: linear-gradient(to bottom right, #4CAF50, #007bff, #4CAF50);
  border: 2px solid white;
}

.legend-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  border-bottom: 1px dashed white;
  border-top: 1px dashed white;
  padding-bottom: 25px;
  padding-top: 25px;
}

.legend-item {
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  width: 100px;
  text-align: center;
  margin-right: 10px;
}
.ted-wrapper button {
  background-color: #4CAF50;
  /* Blue from button */
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 10px;
}

.ted-wrapper button:hover {
  background-color: #3e8e41;
  /* Darker blue from button hover */
}


.comment {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  /* Align text content */
  padding: 10px;
  border-bottom: 1px solid #333;
  font-size: 14px;
  /* Light border between comments */
}

.comment:last-child {
  border-bottom: none;
  /* Remove border for last comment */
}

.comment strong {
  color: #4CAF50;
  /* Blue for username */
  font-weight: bold;
  margin-bottom: 5px;
}

.comment p {
  color: #666;
  /* Gray for review text */
  margin-bottom: 5px;
}

.comment button {
  background-color: transparent;
  /* Transparent background for X button */
  border: none;
  color: #ccc;
  /* Light gray for X button */
  font-size: 16px;
  cursor: pointer;
  margin-left: auto;
}

.add-review-dropdown {
  display: flex;
  flex-direction: column;
  background-color: #007bff;
  border-radius: 12px;
  padding: 20px;
  justify-content: space-around;
  margin: 15px;
  width: 100%;
  height: 30vh;
}



.add-review-dropdown input[type="text"],
.add-review-dropdown input[type="number"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  height: 25px;
}

.add-review-dropdown button {
  background-color: #4CAF50;
  /* Blue from button */
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 10px;
}

.add-review-dropdown button:hover {
  background-color: #3e8e41;
  /* Darker blue from button hover */
}

.review-list {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  /* Off-white background */
  border: 1px solid #eee;
  /* Light border */
  border-radius: 5px;
  padding: 10px;
}


#delete-review{
  cursor: pointer;
}

.under-construction {
  text-align: center;
  margin-top: 50px;
}

.content > ul {
  list-style-type: none;
}

.subtitle {
  font-size: 24px;
}

.content {
  margin-top: 20px;
  font-size: 16px;
}

footer {
  margin-top: 50px;
  font-size: 14px;
}

footer p {
  margin: 5px 0;
}




@media (min-width: 768px) {
  #menu {
    min-height: 70vh; /* Adjust height for larger screens */
    min-width: 50vw; /* Adjust width for larger screens */
  }
}

@media (min-width: 1024px) {
  #menu {
    min-height: 80vh; /* Adjust height for even larger screens */
    min-width: 40vw; /* Adjust width for even larger screens */
  }
}